main .titulo {
    font-size: 2em;
    text-transform: uppercase;
}

main .subTitulo {
    font-size: 1.7em;
    font-weight: bold;
}

main .titulo, main .subTitulo {
    text-align: center;
    color: white;
    margin: 10px;
}

main {
    background-color: #F17D50;
    padding-top: 10px;
    padding-bottom: 15px;
}

.imgPaletrante {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.nomePalestrante {
    text-transform: capitalize;
    line-height: 2em;
}

.palestrante {
    background-color: white;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5%;
    text-align: center;
    min-width: 240px;
    margin-left: 5px;
    margin-right: 5px;
}

.descricaoPalestrante {
    background-color: white;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5%;
    text-align: center;
    height: auto !important;
}

.descricaoPalestrante li {
    display: block;
}

.palestrante h1 {
    font-weight: bold;
}

.painelPalestrantes {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* grid-auto-rows: auto; */
    /* grid-template-rows: auto auto; */
    /* grid-auto-rows: minmax(100px, auto); */
    width: 75vw;
    margin: auto;
}