#painel .titulo {
    font-size: 2em;
    text-transform: uppercase;
}

#painel .subTitulo {
    font-size: 1.7em;
    font-weight: bold;
}

#painel .titulo, #painel .subTitulo {
    text-align: center;
    color: white;
    margin: 10px;
}

#painel {
    background-color: #F17D50;
    padding-top: 10px;
    padding-bottom: 15px;
}

.imgPaletrante {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.nomePalestrante {
    text-transform: capitalize;
    line-height: 2em;
}

.palestrante {
    background-color: white;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5%;
    text-align: center;
    width: 225px;
    margin-left: 5px;
    margin-right: 5px;
}

.descricaoPalestrante {
    background-color: white;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5%;
    text-align: center;
    min-height: 50px;
}

.descricaoPalestrante li {
    display: block;
}

.cargoPalestrante {
    padding-left: 10px;
    padding-right: 10px;
}
.palestrante h1 {
    font-weight: bold;
}

.painelPalestrantes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    /* grid-auto-rows: auto; */
    /* grid-template-rows: auto auto; */
    /* grid-auto-rows: minmax(100px, auto); */
    width: 75vw;
    margin: auto;
}